* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html,
#root {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.home {
    background-image: url("./images/background.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 80%;
    flex-direction: column;
    gap: 20px;
    padding: 40px 80px;
    justify-content: center;
    align-items: center;
}

.home button {
    padding: 20px 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    border-radius: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    font-weight: 200;
    margin-top: 40px;
    cursor: pointer;
}

.home .title {
    font-size: 2em;
    width: 60%;
    color: white;
    font-weight: bold;
}


.home .subtitle {
    font-size: 1.2em;
    width: 60%;
    color: white;
}