nav {
    display: flex;
    width: 100%;
    align-items: center;
    min-height: 20%;
    padding: 30px 80px;
    gap: 20px;
    justify-content: space-around;
    background-color: rgba(20, 20, 20, 0.37);
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
}

nav h1 {
    font-size: 4em;
    color: rgb(236, 245, 236);
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul li {
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(236, 245, 236);
}