.products {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    position: sticky;
}

.product img {
    height: 250px;
    width: 200px;
    border-radius: 5px;

}

.product {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product button {
    width: 200px;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    background-color: rgba(0, 0, 0, 0.788);
}

.products-wrapper {
    display: flex;
    width: 100%;
    padding: 50px 80px;
    justify-content: center;
}